@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #0a0a0a;
  background: #f7f7fa;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 640px) {
  .patryx-login {
    display: none;
  }
}
